body{
	font-family: 'Montserrat', sans-serif;
}
.header{
	background-image: url("../img/back.png");
	padding-bottom: 200px;
}

.container{
width: 100%;
padding: 23px 36px;

}
.header-top{
	display: flex;
	justify-content: space-between;
}
.header_logo{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #252B42;
}
.header_icons{
	display: flex;
	column-gap: 24px;
	align-items: center;
	justify-content: center;
}
svg {
	 fill: red;
}
.header-nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 182px;
}
.header-nav_li{
	padding-bottom: 30px;
}
.header-nav_li:hover{
	color: #2B2828;
}
.header-nav_li:last-of-type{
	padding-bottom: none;
}
.header-nav_link{
	text-decoration: none;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #737373;
}
.header-nav_link:hover{
	color: black;
}
.header-text{
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.header-text_title{
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	color: #252B42;
}
.header-text_disc{
	margin-bottom: 40px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #737373;
}
.header-text_buttons{
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
}
.header-text_button{
	border-radius: 37px;
	padding: 10px 36px;
}
.header-text_button.orange{
	margin-bottom: 25px;
	border: none;
	background-color: #FFA62B;
	color: white;
}
.orange:hover{
background-color: #B07016;
}
.header-text_button.transp{
 	background: none;
 	border: 1px solid #00A0C1;
 	color: #00A0C1;
}
.transp:hover{
	background: #00A0C1;
	color: #FFFFFF;
}
.header-cards{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-card{
	margin-bottom: 30px;
	max-width: 320px;
	padding: 35px 40px;
	background-color: white;
}
.header-card:last-of-type{
	margin-bottom: none;
}
.header-card.blue{
	background:  #00A0C1;
	color: white !important;
}
/*нужно добавить белый фон на синюю карточку*/

.header-card_img{
	margin-bottom: 10px;
}
.header-card_title{
	margin-bottom: 10px;
	color: #252B42;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
.header-card_disc{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #737373;
}

/*приемущества */
.block-advant{
	padding-top: 98px;
	padding-bottom: 70px;
	background: #F3F3F3;
}
.advant-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.text-title-disc_title{
	margin-bottom: 10px;
	color: #252B42;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
}
.text-title-disc_disc{
	margin-bottom: 75px;
	color: #737373;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}
.advant-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	width: 238px;
	hight: 238px;
	margin-bottom: 30px;
	padding: 30px;
}

.advant-card.blue{
	background: #00A0C1;
}
.advant-card.blue  div{
	color: white;
}
.advant-card_num{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #252B42;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
}
.advant-card_disc{
	color: #737373;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	}

/*advice*/
.advice-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.block-advice{
	padding-top: 98px;
	padding-bottom: 70px;
	background: #F3F3F3;
}
.advice-cards{
	display: flex;
	flex-direction: column;
	column-gap: 30px;
}
.advice-card{
	background: white;
	width: 230px;
	margin-bottom: 30px;
}
.advice-card: last-of-type{
	margin-bottom: none;
}
.advice-card-text{
	padding:  30px;
}
.advice-card_img{
	width: 100%;
}
.advice-card_title{
	color: #252B42;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}
.advice-card_disc{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
}
/*block video */
.block-video{
	padding-top: 98px;
	padding-bottom: 70px;
}
.block-video-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.block-video-content_video{
	/*width: 333px;*/
}
.text-title-disc.left-end{
	text-align: left;
}
.right-side_point{
	margin-bottom: 30px;
	text-align: left;
}
.right-side_point:last-of-type{
	margin-bottom: none;
}

.right-side_point-name{
	padding-left: 52px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #252B42;
}
.icon1{
	position: relative;
}
.icon2{
	position: relative;
}
.icon1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url("../img/before.png");
}
.icon2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url("../img/before_2.png");
}
.right-side_point-disc{
	padding-left: 52px ;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #737373;
}

/*brands*/

.block-brands{
	background:  #FAFAFA;
	padding-top: 98px;
	padding-bottom: 70px;
}
.brands-contant{

	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
}
.block-subscribe{
	background: #252B42;
}
.subscribe-form{
	background: #16697A;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 10px;
}
.subscribe-form-hint{
font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: 0.1px;
color: #FFFFFF;
}

.subscribe-button{
width: 117px;
background-color: #FFA62B;
border: 1px solid #FFA62B;
border-radius: 0px 5px 5px 0px;
font-size: 14px;
color: #ffffff;
cursor: pointer;
}

.subscribe-button:hover{
	background-color: #AF6909;
}
.form-input-and-button{
 display: flex;
}
.subscribe-form-input{
width: calc(100% - 117px);
padding: 15px 20px;
background: #F9F9F9;
border: 1px solid #E6E6E6;
border-radius: 5px 0 0 5px;
font-size: 14px;
}

.block-get-in-touch{
	background: #F3F3F3;
}
.get-in-touch-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.get-in-touch-cards{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.get-in-touch-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	padding: 50px;
}
.card_img{
	margin-bottom: 15px;
}
.card_email a{
	text-decoration: none;
	color: #252B42;
}
.get-in-touch-card.blue{
	background:#252B42 !important;
	padding: 90px 50px !important;
}
.get-in-touch-card.blue div{
	color: white;
}
.get-in-touch-card.blue a{
	color: white;
}
.card_title{
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #252B42;
}
.card_button{
	border: 1px solid #FFA62B;
	border-radius: 5px;
	color:#FFA62B ;
	background: none;
	padding: 10px 20px;

}
.card_button:hover{
	background: #FFA62B;
	color: white;
}
.card_button.white{
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	color:#FFFFFF ;
	background: none;
}
.card_button.white:hover{
	color: black ;
	background: white;
}

/*consalting*/
.consalting-content{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: left;
}

.text-title-disc_title.small{
font-weight: 700;
font-size: 24px;
line-height: 32px;
}

.consalting_button{
	background: #FFA62B;
    border-radius: 5px;
    padding: 15px 40px;
    border: none;
    color: white;

}
.consalting_button:hover{
   background: #935E15;
}
.text-title-disc.small{
padding: 20px 50px;
}

.text-title-disc_disc.small{
	margin-bottom: 50px;
}


/*footer*/
.footer-contacts{
	background: #16697A;
	color: white;
}
.contacts-content{
	display: flex;
	flex-direction: column;
	padding-left: 35px;

}
.company_title{
margin-bottom: 20px;
margin-top: 30px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
}
.company_link{
font-weight: 600;
font-size: 14px;
line-height: 24px;
}
.company_link a{
	text-decoration: none;
	color: white;
}
.company_link a:hover{
	color: gray;
}
.company_links{
	display: flex;
	flex-direction: column;
	gap: 10px;
}